<div class="sidebar col-md-3">
	<div class="widget recent-post">
		<h4 class="title">Recent Posts</h4>
		<div class="recent-post">
				{% for item in recentPosts %}
				<div class="post-item">
					<a href="/blog/post/{{item.slug}}">
						<div class="post-thumb">
							<img src="/ul/{{item.image.filename}}" alt="" />
							<div class="overlay"></div>
						</div>
					</a>
					<div class="post-content">
						<a href="/blog/post/{{item.slug}}">
							<h4>{{item.title}}</h4>
						</a>
						<div class="meta">
							<span class="date">{{item.publishedDate|date('d M, Y')}}</span>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>

		<div class="widget archives">
			<h4 class="title">Archives</h4>
			<ul>
				{% for item in archives %}
				<li><a href='/blog{{item.url}}'>{{item.title}}</a></li>
				{% endfor %}
			</ul>
		</div>

		<div class="widget tags">
			<h4 class="title">Tags</h4>
			<div class="tag">
				{% for tag in tags %}
				<a href='/blog?tag={{tag|url_encode}}' class='tag-link-17 tag-link-position-1' title='{{tag}}'>{{tag}}</a>
				{% endfor %}
			</div>
		</div>
</div>