<div class="counter-section wrapper" style="background-image: url('/ul/{{settings.stats_bg.filename}}');">
		<div class="container">
				<div class="row">

						<div class="counter-wrap row">
						
								<div class="counter-item col-md-15 wow fadeInUp" data-wow-delay="0.2s">
										<h2 class="counter">{{stats.stat1.value}}</h2>
										<div class="counter-details">
												<p class="heading">{{stats.stat1.title}}</p>
												<p>{{stats.stat1.text}}</p>
										</div>
								</div>
								
								<div class="counter-item col-md-15 wow fadeInUp" data-wow-delay="0.4s">
										<h2 class="counter">{{stats.stat2.value}}</h2>
										<div class="counter-details">
												<p class="heading">{{stats.stat2.title}}</p>
												<p>{{stats.stat2.text}}</p>
										</div>
								</div>
								
								<div class="counter-item col-md-15 wow fadeInUp" data-wow-delay="0.6s">
										<h2 class="counter">{{stats.stat3.value}}</h2>
										<div class="counter-details">
												<p class="heading">{{stats.stat3.title}}</p>
												<p>{{stats.stat3.text}}</p>
										</div>
								</div>
								
								<div class="counter-item col-md-15 wow fadeInUp" data-wow-delay="0.8s">
										<h2 class="counter">{{stats.stat4.value}}</h2>
										<div class="counter-details">
												<p class="heading">{{stats.stat4.title}}</p>
												<p>{{stats.stat4.text}}</p>
										</div>
								</div>
								
								<div class="counter-item col-md-15 wow fadeInUp" data-wow-delay="1s">
										<h2 class="counter">{{stats.stat5.value}}</h2>
										<div class="counter-details">
												<p class="heading">{{stats.stat5.title}}</p>
												<p>{{stats.stat5.text}}</p>
										</div>
								</div>
								
						</div>
				</div>
		</div>
</div>